# Python
__pycache__/
*.pyc

# Git
.git

# Virtual environments
.venv/

# Notebooks
.ipynb_checkpoints/

# pytest
.pytest_cache/

# coverage
.coverage
htmlcov/

# model only
artifacts/resnet18_finetuned_best.pt