# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.so


# ======================
# Virtual Environment
# ======================
.venv/


# ======================
# Jupyter
# ======================
.ipynb_checkpoints/


# ======================
# macOS
# ======================
.DS_Store


# ======================
# IDE
# ======================
.vscode/
.idea/


# ======================
# Environment
# ======================
.env


# ======================
# PyTorch checkpoints
# ======================
*.pt
*.pth


# ======================
# Dataset
# ======================
data/


# ======================
# Generated outputs
# ======================
outputs/


# ======================
# Logs
# ======================
logs/


# ======================
# Python cache/test
# ======================
.pytest_cache/
.mypy_cache/


# ======================
# Temporary files
# ======================
*.tmp
*.swp